@import "../../assets/fonts/Sf_Pro/";
html,
body {
  margin: 0;
  font-family: "SF Pro Display Regular" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f8fd;
  color: #312e68;
}

.filter-green {
  filter: invert(90%) sepia(72%) saturate(2476%) brightness(100%) contrast(10%);
}
